@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Noto+Sans:ital@0;1&family=Space+Grotesk:wght@300..700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Space Grotesk", sans-serif;
  background-color: #001836;
}

h2 {
  @apply text-xl md:text-4xl;
}

p {
  @apply text-xl tracking-tight leading-relaxed;
}

span {
  color: #ff204e;
}

.shiny-effect {
  position: absolute;
  border-radius: 50%;
  pointer-events: none;
  z-index: 1;

  background: radial-gradient(
    circle,
    rgb(0, 34, 77) 8%,
    rgb(160, 21, 62) transparent 70%
  );
}

.bg-primary-color {
  @apply bg-red-500;
}

/* Custom Button */
#custom-btn {
  margin: 0;
  padding: 0;
  display: flex;
  background: transparent;
  border: none;
}
#custom-btn span {
  position: relative;
  display: inline-flex;
  perspective: 1000px;
}
#custom-btn span a {
  letter-spacing: 1px;
  transform-style: preserve-3d;
  transform: translateZ(-25px);
  transition: transform 0.25s;
}
#custom-btn span a:before,
#custom-btn span a:after {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid #ff204e;
  box-sizing: border-box;
  border-radius: 5px;
}
#custom-btn span a:before {
  color: #fff;
  background: #5d0e41;
  transform: rotateY(0deg) translateZ(25px);
}
#custom-btn span a:after {
  background-color: #ff204e;
  color: #fff;
  transform: rotateX(90deg) translateZ(25px);
}
#custom-btn span a:hover {
  transform: translateZ(-25px) rotateX(-90deg);
}
